body{
    background-image: url("./images/fondo.jpg") ;
    background-size:cover;
    background-repeat:no-repeat;
    
}

.logo-login{
    display: flex;
    justify-content: center;
    padding: 10px 0px 30px 0;
}
.logo-login img{
     width: 15%;
    height: 15%;
}
.input-login{
    display: flex;
    align-items: center;    
    justify-content: center;
    flex-wrap: wrap; 
    padding: 10px 0px 10px 0;
}
.input-login input{
    Width:200px;
    Height:20px;
    border-radius: .10px; 
}
.icon-email{
    width:  20px;
    color:#F3A623;
    padding-right: 5px;
}
.icon-password{
    width:  20px;    
    padding-right: 5px;
}
.check-login{
    display: flex;
    justify-content: center;
}
.button-login button{
    width:200px;
    height:34px;
    border-radius: 6px;
    background-color: #F3A623;
}
.button-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding: 20px 0px 20px 0;
}
.socialNet-login{
    display: flex;
    justify-content: center;
}

.socialNet-login img{
    width: 2.5%;
    height: 2.5%;
    align-items: flex-end;
    padding: 0px 10px 0px 10px;
}
.register-login{
    display: flex;
    justify-content: center;
    align-items: center;
}