body{
    background-image: url("./images/fondo.jpg") ;
    background-size:cover;
    background-repeat:no-repeat;  
    font-family: 'Roboto', sans-serif;
}

.logo-login{
    /* margin-top: 5px; */
    display: flex;
    justify-content: center;
    padding: 5px 0px 30px 0;
}
.logo-login img{
    width: 15%;
    height: 15%;
}
.input-section{
    margin-top: 5px;
}
.input-login{    
    display: flex;
    align-items: center;    
    justify-content: center;
    flex-wrap: wrap; 
    padding: 10px 0px 10px 0;
}
.input-login input{
    Width:300px;
    Height:30px;
    border-radius: .10px; 
}
.check-login{
    margin-top: 6px;
    margin-right: 193px;
    display: flex;
    justify-content: center;    
}
.checkin{
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.check-login {
    font-size: small;
}

.button-login{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 20px 0px 20px 0;
}
.account-button:hover{
    cursor: pointer;
}
.button-login button{      
    Width:300px;
    Height:30px; 
}
.button-login a{
    font-size: small;
}
.socialNet-login{    
    justify-content: center;
}
.singin{
    display: flex;
    justify-content: center;
    margin-top: 10px;    
}
.users{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.social{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.socialNet-login img{
    width: 2.5%;
    height: 2.5%;
    align-items: flex-end;
    padding: 0px 10px 0px 10px;
}
.register-login{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:small;
}
.beUser{
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.background{
    background-size: cover;
    /* "Fixed" Se fija el fondo al tamaño de la ventana que seleccionemos */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
#visibility{
    cursor: pointer;
    margin-left: -20px;
    width: auto;
}


/* PERFIL */

.flex-container{
    display: flex;
    flex-direction: row;
}
.flex-menu{
    display: flex;
    flex-direction: column;
    width: 30%;       
}
.subject{
    background-color: #F4AD22;
    width: 200px;
    
}
.menu1{
    color: black;
    margin-left: 15px;
    padding: 7px;
    font-weight: bold;
    width: 150px;
}

.Flex-perfil{
    display: flex;
    flex-direction: column;
    width: 30%;   
}
.flex-noticias{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 30%;    
    margin-left: 50px;
}
.title{
    font-weight: bold;
    font-size: 18px;
}
.notice{
    width: 30%;    
}

.container{
    background-color: transparent;
	border-radius: 20px;	
	margin-top: 10px;	
	text-align: center;
    justify-content: center;
}
.container-home{
    background-color: transparent;
	border-radius: 20px;	
	margin-top: 10px;   
	/* text-align: center;
    justify-content: center; */
}
.image-home{
    margin-right: 20px;
    border-radius: 60%;
    display: flex;    
    width: 30%;
    height: 30%;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.imgContainer-home{
    display: flex;
    margin-right: 150px;
    /* flex-direction: row; */
    justify-content: center;
}
.info-home{
    margin-top: 13px;
}
.newPost-home{
    margin-top: 30px;
    height: 80px;    
    border-radius: 4px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    border:1px #C3BEBE solid;
    outline: none; 
    font-size: 15px; 
    padding-left: 13px;  
    width: 500px; 
    margin-left: 40px;
   
}

.imgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image{
    margin-left: 230px;
    border-radius: 60%;
    display: flex;
    width: 25%;
    height: 25%;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.info{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 50px;
}

.userName{
    margin-top: 5px;    
    font-size: 23px;
    font-weight: bold; 
}

.about{
    margin-top: 5px;    
    font-size: 14px;
    color: #828282;
}

.post{
    display: flex;
    flex-direction: column;    
}
.content{
    display: flex;
    flex-direction: column;  
    justify-content: center;
}

.newPost{
    margin-top: 45px;
    height: 80px;    
    border-radius: 4px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    border:1px #C3BEBE solid;
    outline: none; 
    font-size: 15px; 
    padding-left: 13px;  
    width: 500px; 
    margin-left: 40px;
   
}

.enter{    
    margin-top: 15px;
    background-color: #F3A623;
    border-color: #F3A623;
    outline: none; 
    border-radius: 4px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    height: 20px;
    font-size: 12px;
    width: 110px;
    height: 30px;
    color: white;
    margin-left: 447px;
    margin-bottom: 50px;
}

.enter:hover{
    cursor: pointer;
}

.activity{   
    width: 510px;
    background-color:white;
	border-radius: 4px;
	box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
	margin-left: 43px;
	text-align: center;   
}

.point{
    margin-left: 450px;
    margin-top: 20px;
    width: 23px;
    height: 7px;     
}

.name{
    display: flex;
    font-weight: bold;
    margin-left: 15px;
}

.publication{
    margin-top: 30px;
}

.interaction{
    display: flex;
    font-size: 10px;
    margin-top: 40px;
    /* justify-content: space-between; */
}
.picture{
    width: 4%;
    height: 4%;
    margin-left: 15px;
    margin-bottom: 20px;
}
.coment{
    width: 4%;
    height: 4%;
    margin-left: 200px;
}
.coment-num{
    margin-top: 3px;
    margin-left: 4px;
}
.like{
    width: 4%;
    height: 4%;
    margin-left: 30px;
}
.like-num{
    margin-top: 4px;
    margin-left: 4px;
}
.next{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nextPost{
    margin-top: 9px;
    height: 40px;    
    border-radius: 4px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    border:1px #C3BEBE solid;
    outline: none; 
    font-size: 12px; 
    padding-left: 9px;  
    width: 496px; 
    margin-left: 45px;
}

/* MODAL */

.modal-container{
    opacity: 0;
    visibility: hidden;
    position:fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 40%;
    height: 50%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius: 10px;
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #c44a4a;
    color: white;
    line-height: 25px;
    cursor: pointer;
    border-radius: 10px;
}

.modal-close{
    transform: translateY(-200%);
}

.modal > img{
    height: 50%
}

/* //REGISTRO USUARIOS */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#A-root{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
@media (max-width: 800px) {
    #A-root{
        display: block;
    }
}
.A-account-container{
    grid-column-start: 2;
    padding: 20%;
}

#A-logo{
    /* max-width: 55%; */
    width: 15%;
    height: 15%;
    margin-top: 30px;
}

#A-logo-container{
    display: flex;
    justify-content: center;
    
}

#A-form-container{
    text-align: center;
    font-family: 'Roboto';
}

.account-button{
    background-color: #F3A623;
    color: white;
    border-radius: 6px;
    width: 100%;
    height: 34px;
    border-color: #F3A623;
    outline: none;    
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.new-password{
    margin-top: 8px;
    margin-right: 164px;
    color: #7B7B7B;
}

::placeholder {
    color: #828282;
}
.A-input-nameUser{
    width: 100%;
    height: 25px;
    border-radius: 3%;
    border: 1px solid  #C3BEBE;
    box-shadow: 0px 1px #88888879;
    font-size: 12px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    outline: none; 
    background-image: url(./images/userIcon.png);
    background-repeat: no-repeat;
    text-align: center; 
}

.A-input-mail{
    width: 100%;
    height: 25px;
    border-radius: 3%;
    border: 1px solid  #C3BEBE;
    box-shadow: 0px 1px #88888879;
    font-size: 12px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    outline: none; 
    background-image: url(./images/mailIcon.png);
    background-repeat: no-repeat;
    text-align: center;
}

.A-input-password-confirm{
    width: 100%;
    height: 25px;
    border-radius: 3%;
    border: 1px solid  #C3BEBE;
    box-shadow: 0px 1px #88888879;
    font-size: 12px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    outline: none; 
    background-image: url(./images/passwordIcon.png);
    background-repeat: no-repeat;
    text-align: center;
}
.A-input-password{
    width: 100%;
    height: 25px;
    border-radius: 3%;
    border: 1px solid  #C3BEBE;
    box-shadow: 0px 1px #88888879;
    font-size: 12px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    outline: none; 
    background-image: url(./images/passwordIcon.png);
    background-repeat: no-repeat;
    text-align: center;
}

.A-input-aboutme{
    width: 100%;
    height: 25px;
    border-radius: 3%;
    border: 1px solid  #C3BEBE;
    box-shadow: 0px 1px #88888879;
    font-size: 12px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    outline: none;  
}

.aboutUser{
    margin-top: 10px;
    font-size: small;
}

.A-label-aboutUser{
    font-size: 10px;
}

.A-title{
    font-size: 18px;
}

/* NAVBAR */

header{
    display: inline-block;
    width: 100%;
    height: 50px;   
    /* margin: 0px;  */
    /* padding: 0px 20px; */
    background-color: #F3A623;
    position: relative;   
}
nav{
    float: right;
    font-family: 'Barlow', sans-serif;
    /* font-weight: bold;  */
}

nav ul li{
    display: inline-block;
    /* padding-top: 2px; */
    padding-right: 25px;
}

nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: white;
    /* font-weight: 600; */
}

.toogle-btn{
    width: 35px;
    position: absolute;
    right: 25px;
    top: 25px;    
    display: none;
}

.toogle-btn span{
    /* display: inline-block;     */
    width: 100%;
    height: 2px;
    background-color: white;
    float: right;  
    margin-bottom: 8px;
}

@media(max-width: 800px){
    .toogle-btn{
        display: block;
    }
    nav{
        display: none;
        width: 100%;
        /* border-top: 1px solid #000; */
        padding-top: 20px;
        margin-top: 30px;
    }
    nav.show{
        display: block;       
    }
    nav ul li{
        padding: 15px 0px;
        width: 100%;
    }
    nav ul li a{
        color: black;
    }
    .container{
        background-color: transparent;
        border-radius: 20px;
        /* box-shadow: 0 3px 10px rgba(100, 100, 100, 0.5); */
        margin: 10px;
        padding: 20px;
        text-align: center;
    }
    .imgContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .image{
        border-radius: 60%;
        display: flex;
        width: 30%;
        height: 30%;
    }
    .info{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    
    .userName{
        padding-left: 25px;
        font-size: 23px;
        font-weight: bold;
    }
    
    .about{
        padding-left: 11px;
        font-size: 14px;
        color: #828282;
    }
    
    .post{
        display: flex;
        flex-direction: column;
    }
    
    .newPost{
        margin-top: 40px;
        height: 70px;    
        border-radius: 4px;
        box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
        border:1px #C3BEBE solid;
        outline: none; 
        font-size: 15px; 
        padding-left: 13px;    
    }
    
    .enter{    
        margin-top: 15px;
        background-color: #F3A623;
        border-color: #F3A623;
        outline: none; 
        border-radius: 4px;
        box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
        height: 20px;
        font-size: 10px;
        width: 80px;
        color: white;
        margin-left: 328px;
        margin-bottom: 25px;
    }
    
    .enter:hover{
        cursor: pointer;
    }
    
    .activity{   
        background-color:white;
        border-radius: 4px;
        box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);	
        padding: 20px;
        text-align: center;
    }
    .point{
        margin-left: 350px;
        width: 19px;
        height: 7px;     
    }
    
    .name{
        display: flex;
        font-weight: bold;
    }
    
    .publication{
        margin-top: 30px;
    }
    
    .interaction{
        display: flex;
        font-size: 10px;
        margin-top: 40px;
        justify-content: space-between;
    
    }
    
    .nextPost{
        margin-top: 10px;
        height: 30px;   
        width: 96%; 
        border-radius: 4px;
        box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
        border:1px #C3BEBE solid;
        outline: none; 
        font-size: 15px; 
        padding-left: 13px;     
    }
}


